body {
    
    background-image: url("Resources/background_1.jpg");
    background-color: #cccccc;
    background-size: contain;
    margin: 0px;
}

h1 {
    color: black;
    font-family:Verdana, sans-serif;
}

div {
    float: right;
    width: 50%;
    height: 100vh;
    background-color: white;
    text-align: center;
}

table {
    align-self: center;
}

ul {
    list-style-type: none;
    align-self: center;
    
}

li{
    margin-top: 10px;
    border-top: 1px solid black;
    padding-top: 10px;
}

.button{
    font-family: verdana, sans-serif;
    font-size: 30px;
    color: white;
    width: fit-content;
    text-align: center;
    border-radius: 5px;
    background-color: #475c5d;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.button:hover{
    background-color: #6b7973;
}

a {
    text-decoration: none;
}

#last {
    padding-top: 50px;
    font: bold 15px Verdana, sans-serif;
    
}

.delicon {
    background-color: red;
    border: 2px solid rgb(207, 145, 145);
    border-color: rgb(207, 145, 145);
    border-radius: 5px;
    padding: 5px;
}

.delicon:hover{
    background-color: rgb(175, 49, 49);
}

td {
    padding-right: 25px;
}

